* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: Arial;
}

h1 { 
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
}

.container {
	float: left;
}

.content {
	border: 5px solid black;
	background-color: grey;
	margin: 10px;
	padding: 10px;
	position: relative;
}

.title {
	border: 4px solid black;
	padding: 10px;
	text-align: center;
	color: white;
	position: absolute;
	top: 0;
	right: 0;
}

p {
	margin-top: 45px;
	padding: 10px;
}

#title1 {
	background-color: red;
}

#title2 {
	background-color: green;
}

#title3 {
	background-color: blue;
}

/***********Desktop View***********/

@media (min-width: 992px) {
	.container {
		width: 33%;
	}

}

/***********Tablet View***********/

@media (min-width: 768px) and (max-width: 991px){
	#container1, #container2 {
		width: 50%;
	}
	#container3 {
		width: 100%;
	}

}

/***********Mobile View***********/

@media (max-width: 767px) {
	.container {
		width: 100%;
	}

}